<div id="home">
  <div class="grid-container">
    <h2><i class="fad fa-hiking"></i></h2>
    <h3>SeasonAll</h3>
    <div class="grid-x grid-padding-x align-center">

      <div class="medium-4 cell">
        <form>
          <div style="font-weight:900;" class="bounce"><i class="fad fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;test@test.com</div>
          <input type="text" id="email" placeholder="Email"
            style="border-radius: 20px">
          <div style="font-weight:900;" class="bounce"><i class="fad fa-lock-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;test</div>
          <input type="text" id="account_password" placeholder="Password"
            style="border-radius: 20px">
        </form>
        <div class="buttons">
          <button id="sign-in" class="button">Sign In!</button>
          <button type="submit" id="sign-up" class="button">Sign Up!</button>

        </div>
      </div>
    </div>
  </div>
</div>


<!--
  <div class="arrow bounce">test@test.com</div>
  <span class="bounce" style="font-size:26px;">⬅</span>
  <span class="bounce" style="font-weight:900;margin: 6px 0px 0px 0px">test@test.com</span>
-->